@import 'vxe-table/styles/variable.scss';

$vxe-font-size: 14px;
$vxe-font-color: #666;
$vxe-primary-color: #242A4F;
$vxe-table-font-color: $vxe-font-color;
$vxe-table-border-color: #e8eaec;
$vxe-table-border-radius: 4px;
$vxe-loading-background-color: rgba(255, 255, 255, 0.3);
$vxe-loading-z-index: 999;
@import 'vxe-table/styles/modules.scss';
